*{
    margin:0;
    padding:0;
    /*indsæt google fonts her */
}

/* Styletile men css */
:Root{
    /*font-size: 2vw;
    --font-size-primary: 2vw;
    --font-size-secondary:  1.3vw; */
    --text-primary: #1d0a24; /*dark text */
    --text-secondary: #fefbfb; /*light text*/
    --bg-primary: #fefbfb; /*white-ish*/
    --bg-secondary: #fef8e7; /* pale yellow */
    --pink: #e58fab; 
    --pale-pink: #f5d6e0;
    --purple: #8864e3;
    --pale-purple: #bda9ef;
    --yellow: #f9e095;
    --pale-yelloW: #fcf1cf; 
    --dropshadow: #1d0a244f; 
}

/* basics */
body{
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

/* navigation og burger */
nav {
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    border-bottom: #1d0a24 2px solid;
    box-shadow: 0px 10px 4px var(--dropshadow);
}

.logo img {
    height: 4vh;
    width: auto;
}

.nav-links img{
    height: 4vh;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 1vw;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-primary)
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: var(--text-primary);
    margin: 5px;
}

/* burger animation */ 
.burger .line1, .burger .line2, .burger .line3 {
    transition: all 0.3s ease;
}

.burger.active .line1 {
    transform: translateY(13px) rotate(45deg);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: translateY(-13px) rotate(-45deg);
}

/* landing billede og tekstboks! */

.landing{
    position: relative;
    display: flex;
    width: 100%;
    margin-top:3vh;
    flex-wrap: wrap;
    justify-content: center;
}

.landingpic{
    width: 75%;
    height: 500px; /* kan fjernes når billede indsættes*/
    display: flex;
    justify-content: center;
    background-color: var(--pale-pink);
    border-radius: 20px;
    border: var(--text-primary) 2px solid;
    box-shadow: -10px 10px 4px var(--dropshadow);
}

.overlay {
    position: absolute;
    bottom: 5vh; /* Adjust as needed */
    right: 15vw; /* Adjust as needed */
    z-index: 1; /* Ensure text is on top of the image */
  }

  .windowsborder{
    width: 25%;
    height: 30vh;
    display: flex;
    align-items:end;
    border-radius: 20px;
    background-color: var(--purple);
    border: var(--text-primary) 2px solid;
    box-shadow: -10px 10px 4px var(--dropshadow);
  }

  .indhold{
    width: 100%;
    height: 25vh;
    display: flex;
    background-color: var(--bg-primary);
    border-radius: 0 0 20px 20px;
  }

  .indhold p{
    padding: 2vh 2vw;
  }

  



/* media query - til mobil */
@media screen and (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: flex;
        z-index: 555; /* så ikonet kan ses over post-it papiret lol */
    }

    .burger-menu {
        display: none;
    }

    /* the post-it burger */
    nav.active .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--yellow);
        position: absolute;
        top: 10px;
        right: 10px;
        width: 200px;
        height:160px;
        z-index: 1;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border: var(--text-primary) 2px solid;
        box-shadow: -10px 10px 4px var(--dropshadow);
    }

    nav.active .nav-links li {
        padding: 10px;
    }

    nav.active .nav-links a {
        color: var(--text-primary);
    }

    .nav-links img{
        display: none;
    }
}

/* media query - til desktop */
@media screen and (min-width: 701px) {

}
    
  
    