* {
  margin: 0;
  padding: 0;
   }

   


/* Styletile men css */
:Root {
    --text-primary: #1d0a24; /*dark text */
  --text-secondary: #fefbfb;/*light text*/
  --bg-primary: #fefbfb;/*white-ish*/
  --bg-secondary: #292825;/* bg til aller bag main vindue*/
  --pink: #e58fab;
  --pale-pink: #f5d6e0;
  --purple: #8864e3;
  --pale-purple: #bda9ef;
  --main-window: #EEE9FB; /* bg farve til main window */
  --purple-bg: hsla(257, 69%, 80%, 0.35);
  --yellow: #f9e095;
  --pale-yelloW: #fcf1cf;
  --dark-yellow: #f7d56e;
  --dropshadow: #1d0a244f;
  --button: #bda9ef;
}

/* basics */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

p span{
  font-weight: 700;
  font-style: normal;
  color: var(--pink);
  font-family: "Montserrat", sans-serif;
}

/* responsive text ref: https://matthewjamestaylor.com/responsive-font-size 
tak til Julie! <3 */

p{
  font-size: calc(12px + 0.390625vw);
  font-family: "Montserrat", sans-serif;
}

a{
  font-size: calc(12px + 0.390625vw);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h1{
  font-size: calc(28px + 0.390625vw);
  font-family: "Barlow Condensed", sans-serif;
}

h2{
  font-size: calc(22px + 0.390625vw);
  font-family: "Barlow Condensed", sans-serif;
}

h3{
  font-size: calc(18px + 0.390625vw);
  font-family: "Barlow Condensed", sans-serif;
}

/* scrollbar */

::-webkit-scrollbar { 
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--pale-pink); 
  border: 2px solid var(--text-primary);
}
 
::-webkit-scrollbar-thumb {
  background: var(--pink); 
  border: 2px solid var(--text-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple); 
}




/* main window */

.mainwindow {
  background: linear-gradient(var(--main-window), var(--pale-purple) 100%);
  width: 85%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: var(--text-primary) 2px solid;
  padding-bottom: 1rem;
  box-shadow: -2px 2px 4px var(--dropshadow);
}

.windowcontainer {
  background: linear-gradient(to right, var(--pale-purple) 10%, var(--purple) 100%);
  border-radius: 8px 8px 0 0;
  border-bottom: var(--text-primary) 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.browsericons img {
  width: 20px;
  /* Adjust width of the icons */
  height: 20px;
  margin-right: 10px;
  /* Adjust margin between icons */
}

/* landing billede og tekstboks! */

/* note to self: landing should be using positon abs and rel in pc 
 and use flex column in mobile - so the text box appear beneath the image. */

.landing {
  display: flex;
  width: 100%;
  margin-top: 3vh;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.5rem;
  /* midlertidlig whitespace */
}

.landingpic {
  width: 85%;
  height: 400px;
  /* kan fjernes når billede indsættes*/
  display: flex;
  justify-content: center;
  background-image: url(images/laptopheader.svg);
  border-radius: 10px;
  /* yderste bokse har border radius 20 */
  border: var(--text-primary) 2px solid;
  box-shadow: -2px 2px 4px var(--dropshadow);
}


.posrelcontainer {
  height: auto;
  border-radius: 10px;
  /* inderste bokse har har border radius 10*/
  background: linear-gradient(var(--bg-primary)60%, var(--pale-pink)100%);
  border: var(--text-primary) 2px solid;
  box-shadow: -2px 2px 4px var(--dropshadow);
}

.windowsborder {
  height: 30px;
  width: 100%;
  background-color: var(--purple);
  border-radius: 7px 7px 0 0;
  border-bottom: var(--text-primary) 2px solid;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indhold {
  padding: 4% 8%;
}

.indhold p {
  margin-bottom: 15%;
}

.indhold a{
  text-decoration: none;
}


.knap {
  background-color: var(--button);
  color: var(--text-primary);
  box-shadow: -2px 2px 4px var(--dropshadow);
  /* black box shadow*/
  border-radius: 10px;
  border: var(--text-primary) 2px solid;
  }

/*------------------ projekt-faner */

.projektcontainer {
  width: 100%;
  height: auto;

}

.projektsektion {
  width: 85%;
  margin: auto;
  border: var(--text-primary) 2px solid;
  box-shadow: -2px 2px 4px var(--dropshadow);
  border-radius: 10px;
  background: linear-gradient(var(--bg-primary), var(--pale-pink));

}

.sektioncontainer,
.projektfolder {
  display: block;
  width: 100%;
}

.projektintro,
.projekttabs {
  display: block;
  margin: auto;
  margin: 1.5rem;
}

.tab {
  display: flex;
  flex-direction: row;
}

.tablinks{
  background-color: var(--dark-yellow);
}

/* Style the tab buttons */
.tab button {
  width: 200px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tablinks:first-child {
  /*first tab*/
  border-radius: 10px 0 0 0;
  border-bottom: none;
}

.tablinks:nth-child(2) {
  /*middle tab*/
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.tablinks:last-child {
  /*third tab*/
  border-radius: 0 10px 0 0;
  border-bottom: none;
}

/* Change background color of active tab */
.tablinks.active {
  background-color: var(--pale-yelloW);
}

/* Style the tab content */
.tabcontent {
  display: none;
  height: auto;
  border: 2px solid var(--text-primary);
  background-color: var(--pale-yelloW);
  border-radius: 0 10px 10px 10px;
}

/* Show active tab content */
.tabcontent.active {
  display: block;
}


.tabcontainer {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: stretch;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%; /* Adjusted to make the container responsive */
  margin: 1rem;
}

.smallbox:first-child {
  margin-bottom: 1rem;
}

.smallbox {
  width: 100%;
  height: auto;
  background-color: var(--bg-primary);
  border-radius: 10px;
  border: 2px solid var(--text-primary);
}

.smallbox .windowcontainer {
  border-radius: 8px 8px 0 0;
}

.projektdescription p {
  width: 90%; /* Adjusted to make text responsive */
  margin: auto;
  padding: 1rem;
}

.imagegallery {
  width: 100%;
  height: auto;
  padding: 1rem 0;
}

.imagegallery p {
  margin: 0rem 1.2rem 0.5rem 1.2rem;
}

.slideshow-container {
  width: 90%; /* Adjusted to make slideshow container responsive */
  position: relative;
  margin: auto;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--text-primary);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px 15px;
  margin-top: -22px;
  color: var(--pink);
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  user-select: none;
}

/* placer pilene ude siderne */
.next {
  right: 0;
}

.prev{
  left: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade img{
  width: 100%;
  height: auto;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


.pinkfolder {
  display: block;
  width: 100%;
  height: auto;

}

.pinkindhold {
  background-color: var(--pink);
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--text-primary);
}

.pinkfolder .knap {
  text-decoration: none;
  margin-bottom: 1rem;
}

.pinkfolder video {
  max-width: 100%; /* Set maximum width to 100% */
  height: auto; /* Let the height scale proportionally */
}

.pinkimage{
  padding: 1rem;
}

.pinkimage img{
  width: 100%;
  height: auto;
  border-radius: 100% 100% 0 0;
  border: 2px solid var(--text-primary)
 
 }

/* about sektion */

.givespace{
  margin-top: 1rem;
}

.yellowbox{
  width: 100%;
  margin: 1rem;
  background-color:var(--bg-primary);
}

.informationelement{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.informationcontainer{
  width: 90%;
  height: auto;
  margin: 1rem;
}

/* til footer */

.givflex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.altfont{
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
  font-size: calc(16px + 0.390625vw);
}

.kontaktinfo a{
  text-decoration: none;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}


/* media query - til tablet / main responsive */
@media screen and (max-width: 800px) {

  .mainwindow {
    width: 92%;
  }

  .browsericons{
    opacity: 0;
  }

  

  .posrelcontainer{
    max-width: 90%;
    height: auto;
    margin-top: 1rem;
}

.indhold{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.knap{
  padding: 3% 5%;
}
.landing {
   margin-bottom: 1rem;
 }

.landingpic{
  width: 90%;
  height: 200px;
}

.indhold p {
  margin-bottom: 5%;
}

.projektsektion {
  width: 90%;
}

.projekttabs{
  margin: 0.5rem;
}

.tab button {
  width: 80px;
  height: 40px;
}

h3{
  font-size: calc(14px + 0.390625vw);
}

.tabcontainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.information {
  max-width: 90%; 
  margin: 1rem;
}

.yellowbox{
  width: 90%;
}

.pinkindhold {
   width: 90%;
    margin: 0;
 }

 .pinkfolder{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
 }

 
 .givluft{
  margin-bottom: 1rem;
 }

 .billede img{
  max-width: 150px;
  height: auto;
  margin-right: 1rem;
}

.kontaktinfo h2{
  font-size: calc(16px + 0.390625vw);
}


.kontaktinfo .altfont{
  font-size: calc(14px + 0.390625vw);  
}
}



/*medie query - til mobil */
@media screen and (max-width: 450px){
  .billede img{
    max-width: 90px;
}
}


/* media query - til desktop */
@media screen and (min-width: 800px) {

.windowcontainer {
  padding: 5px 20px;
  }
  

.knap{
  padding: 2% 5%;
}
  
  .knap:hover {
    background-image: linear-gradient(to right, #e58fab, #8864e3);
    color: var(--text-secondary);
    box-shadow: -2px 2px 4px var(--dark-yellow);
  }

  .kontaktinfo p :hover{
    color: var(--purple);
  }

  .landing {
    position: relative;
  }

  .posrelcontainer{
    position: absolute;
    max-width: 40%;
    height: auto;
    right: 12vw;
    bottom: -3vh;
  }

  .indhold a {
    position: absolute;
    right: 5%;
    bottom: 7%;
    z-index: 444;
  }

  .tablinks:hover{
    background: linear-gradient(to right, #fcf1cf, #f5d6e0);
    transition: 0.2s ease;
    text-decoration: underline dotted var(--pink) 4px;
  }

/* tilføj en mørkeere baggrudn ved hover */
.prev:hover,
.next:hover {
  background-color: var(--pink);
  color: var(--text-primary);
  opacity: 0.5;
}


.pinkfolder {
  margin: 1rem;
}


.billede img{
  width: 170px;
  height: auto;
}


}

